.component12-container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.component12-image {
  width: 82px;
  height: 69px;
  object-fit: cover;
}
.component12-text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.component12-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .component12-image {
    width: 55px;
    height: 56px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .component12-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .component12-container {
    width: 100%;
  }
}
