.products-products {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
@media(max-width: 991px) {
  .products-products {
    max-width: 960px;
  }
}
@media(max-width: 767px) {
  .products-products {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .products-products {
    width: 100%;
  }
}
